################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grokking/AlgorithmsApi/bin/Debug/net8.0
/Grokking/AlgorithmsApi/obj
/Grokking/.vs/Grokking/FileContentIndex
